# Do not version converted/parsed media files (original start with raw-)
original/media/[0-9]*.json
# Do not version converted/parsed proceeding files (original are xml)
original/proceedings/*.json
# Do not version cache directory
cache/

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride

# Linux
.directory

# Logs
logs
_logs/
*.log

# Runtime data
pids
*.pid
*.seed
.idea/
__pycache__

